<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ljy.ljyutils">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    //8.0安装未知来源权限
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    //设置视频壁纸的权限
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    //自定义一个权限，MyBroadcastReceiver1中添加了这个权限，其他app如果要给这个注册的接收器发送广播，就需要在Manifest中添加权限
    <permission android:name="com.ljy.ljyutils.BroadcastReceiverPermission" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <permission android:name="android.permission.INJECT_EVENTS"/>

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        //注册broadcastReceiver
        <receiver
            android:name=".broadcast.MyBroadcastReceiver1"
            android:permission="com.ljy.ljyutils.BroadcastReceiverPermission">
            <intent-filter android:priority="1">
                <action android:name="com.ljy.ljyutils.broadcast" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.MyBroadcastReceiver2"
            android:exported="false">
            <intent-filter android:priority="100">
                <action android:name="com.ljy.ljyutils.broadcast" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcast.MyBroadcastReceiver3">
            <intent-filter android:priority="1000">
                <action android:name="com.ljy.ljyutils.broadcast" />
            </intent-filter>
        </receiver>
        <!-- 注册桌面小部件 -->
        <receiver android:name=".widget.MyAppWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_config" />

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.ljy.ljyutils.action.CLICK" />
            </intent-filter>
        </receiver>
        //注册service
        <service
            android:name=".service.MessengerService"
            android:process=":messenger" />
        <service
            android:name=".service.TcpServerService"
            android:process=":tcpServerService" />
        <service android:name=".service.MyNormalService" />
        <service android:name=".service.MyForegroundNormalService" />
        //注册并声明为远程服务
        //android:process=":remote" //将本地服务设置成远程服务(单独进程)
        //android:exported="true" //设置可被其他进程调用
        //该Service可以响应带有com.ljy.ljyutils.IMyAidlInterface这个action的Intent。
        //此处Intent的action必须写成“服务器端包名.aidl文件名”
        <service
            android:name=".service.MyAidlNormalService"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.ljy.ljyutils.IMyAidlInterface" />
            </intent-filter>
        </service>
        <service
            android:name=".service.BinderPoolService"
            android:exported="true"
            android:process=":binderPoolService" />
        //注册并声明intentService
        <service android:name=".service.MyIntentService">
            <intent-filter>
                <action android:name="com.ljy.ljyutils.mIntentService" />
            </intent-filter>
        </service>
        //注册音乐播放的service
        <service
            android:name=".service.PlayMusicService"
            android:enabled="true"
            android:exported="true" />

        <!-- 配置视频壁纸Service -->
        <service
            android:name=".service.VideoLiveWallpaper"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER"
            android:process=":wallpaper">

            <!-- 为实时壁纸配置intent-filter -->
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <!-- 为实时壁纸配置meta-data -->
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/livewallpaper" />
        </service>
        <!--MyAccessibilityService-->
        <service
            android:name=".service.BaseAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:process=":baseAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility"/>
        </service>
        <service
            android:name=".service.FloatingWindowService"
            android:enabled="true"
            android:exported="true"
            android:process=":floatingWindowService" />

        <!--//友盟推送 自定义service-->
        <!-- <service android:name="com.ljy.ljyutils.service.MyPushIntentService" /> -->
        <service
            android:name=".service.TimerService"
            android:enabled="true"
            android:exported="true" />
        //meta-data start
        //友盟Appkey
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a6ebbfaf43e482080000201" />
        //友盟Umeng Message Secret
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="9b9048088c76f49a591774c52f57c3a2" />
        //meta-data end
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ljy.ljyutils.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        /*
        authorities：app的包名.fileProvider
        grantUriPermissions：必须是true，表示授予 URI 临时访问权限
        exported：必须是false
        resource：中的@xml/file_paths是我们接下来要添加的文件
        */

        //注册BookProvider
        //authorities是唯一标识,外部应用通过这个访问BookProvider
        //为了演示方便,这里让其运行在独立进程,并添加了权限(权限还可以细分为读和写)
        <provider
            android:name=".provider.BookProvider"
            android:authorities="com.ljy.ljyutils.provider.Book.Provider"
            android:permission="com.ljy.Book.Provider"
            android:process=":bookProvider" />
        //activity
        //bugly
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".base.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="junanxin.app"
                    android:pathPrefix="/openwith"
                    android:scheme="anxindai" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UseUtilsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GlideUtilActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ViewSizeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GestureLockActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RadarViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Radar2Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ArgueProgressActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VoteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RefreshListViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RefreshRecyclerViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhotoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activity.GifActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DemoDa2Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RetrofitActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FishActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BroadcastActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ServiceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FragmentDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GreenDaoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MusicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".activity.LottieActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.CalendarActivity" />
        <activity
            android:name=".activity.BallActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BezierActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AppUpdateActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BindDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DoodleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PicUploadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Wallpaper" />
        <activity
            android:name=".activity.BuglyDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CaptchaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoLiveWallpaperActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DrawerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SlidingMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DialogDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AnimatorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConstraintLayoutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JigsawActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PDFUploadActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SideIndexBarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebViewTestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.XmlParserTestActivity" />
        <activity android:name=".activity.DesignPatternActivity" />
        <activity android:name=".activity.CustomViewActivity" />
        <activity android:name=".activity.RxJavaTestActivity" />
        <activity android:name=".activity.AspectJTestActivity" />
        <activity android:name=".activity.AnnotationActivity" />
        <activity
            android:name=".activity.ProcessActivity"
            android:process=":process" />
        <activity android:name=".activity.RemoteViewsActivity" />
        <activity
            android:name=".activity.RemoteViewsTestActivity"
            android:process=":remoteViewsTest" />
        <activity android:name=".activity.DrawableActivity" />
        <activity android:name=".activity.WindowActivity" />
    </application>

</manifest>